 *{

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

 html {
   
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  body {
   
    margin:0px;
    width:100%;
    background-color: #fff;
  }
 
  #header{
    display: grid;
    grid-template-columns:repeat(2,1fr);
   height:7rem;
   width: 100%;
   
  }

  #head2{
    display:grid;
    grid-template-columns:repeat(7,1fr);
    text-align: center;
    align-items: center;
  
  }
  #head1{
    text-align: left;
    margin-left:2rem;
   
  }
  #head1>a{
    font-size: 1.5rem;
  }


 a{

  text-decoration: none;
  color: rgb(36, 36, 36);
 }
#head2>a{
  margin-left:2rem;
  margin-right:2rem;
  font-size:1rem;
}
#head2>a:hover{

 color: rgb(98, 98, 98);
 transform: translateY(-20px);
 transition: 1s;
}
.div1{
  display: grid;
  grid-template-columns:repeat(2,1fr);
  height:23rem;
  width: 100%;
 background-color:rgb(172, 172, 172);

}
.sec1>h1{
  padding-left:2rem;
  padding-top: 3rem;
}

.sec1>h4{
 
  padding-left:2rem;
}
.btn2{
  margin-top:1rem;
  margin-left:2rem;
  height:2.5rem;
  width: 12rem;
  background-color: rgb(36, 36, 36);
  color: rgb(172, 172, 172);
 border-radius: 10px;
 text-align: center;
 border: solid;
}
.sec2{
  text-align: center;

}
.sec2>img{
  width: 65%;
  height: 80%;
  
}
.div2{
  display: grid;
  grid-template-columns:repeat(4,1fr);

  text-align:center;
  margin-top: 2rem;
  margin-left:3rem;
  margin-right:3rem;
}
.sec3{
  text-align: center;
}
.sec3>img{
  width: 75%;
  height: 80%;
  border: 2px;
  border-style:solid;
  border-radius:7%;
  border-color:  rgb(172, 172, 172);
}
.sec3>img:hover{
  border-color: rgb(36, 36, 36);
  transition:0.6s;
}
.div3{
  display: grid;
  grid-template-columns:repeat(4,1fr);
  text-align:center;
  
  margin-left:3rem;
  margin-right:3rem;
}
.div4{
  text-align: center;
  margin-top:4rem;
}

.btn3{
  text-align: center;
  background-color:  rgb(172, 172, 172);
  color: rgb(36, 36, 36);
  border-color: rgb(172, 172, 172);
 border-radius: 10px;
 text-align: center;
 border: solid;
 height:2.5rem;
  width:9rem;
  border: 0;
 
}
.btn3:hover{
 
  transition:0.6s;
  border: solid;
}